#about{
    margin: 40px;
    text-align: center;
}

#about .title{
    color: lightcoral;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
}

#about .bio{
    padding: 0;
}

@media(max-width:1000px){
    #about .bio p{
       
        font-size: 18px;
    }
}

@media(max-width:800px){
    #about .bio p{
       
        font-size: 12px;
    }

    #about .title{
        font-size: 28px;
    }
}

