@import 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css';

.gallery{
    text-align: center;
    margin-top: 50px;
}

.gallery .title{
    color: lightcoral;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
}

.swiper-container{
   height: 800px;
   width: 800px;
   margin-top: 50px;
   border-radius: 15px;
    box-shadow:  0 0 25px black;
}

.swiper-slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

@media(max-width:1200px){
    .swiper-container{
        height: 700px;
        width: 700px;
    }
}

@media(max-width:1000px){
    .swiper-container{
        height: 600px;
        width: 600px;
    }
}

@media(max-width:700px){
    .swiper-container{
        height: 400px;
        width: 400px;
    }
}

@media(max-width:500px){
    .swiper-container{
        height: 250px;
        width: 250px;
    }
}