#footer{
    background-color: navajowhite;
    color: oldlace;
    text-align: center;
    background: linear-gradient(to bottom,#4a042e, #000000 100%);
    padding: 60px 0;
}

#footer ul{
    list-style: none;
}

#footer li{
    display: inline;
    margin: 0 8px;
}

@media(max-width:1000px){
    .footerText{
        font-size: 15px;
    }
}

@media(max-width:800px){
    .footerText{
        font-size: 10px;
    }
}
