.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   /* margin: 20;*/

}

.articles h3 {
    color: lightcoral;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
}

.articles .list{
   
   align-items: center;
}

@media(max-width:900px){
    .articles .list{
        width: 500px;
    }
}

@media(max-width:600px){
    .articles .list{
        width: 300px;
    }
}


@media(max-width:400px){
    .articles .list{
        width: 250px;
    }
}